.apexcharts-xaxistooltip{
    display:none;
}
.apexcharts-xaxis-texts-g{
    display:none;
}
.MuiToggleButtonGroup-root{
    display: flex;
    justify-content: center;
    width: 100%;
    border:none;
}
.MuiToggleButton-root{
    width: 34%;
    border:none !important;
    color:red !important;
}
.MuiToggleButton-root:focus{
    color:blue !important;
}