@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

.apexchartContainer{
    /* background-color:#f5f5f5; */
    width:100%;
    height:100%;
    /* display: flex;
    justify-content: center; */
}
.titleContainer{
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-family: 'Original Surfer', cursive;
    font-style: italic;
    font-weight: bolder;
    color: rgb(191, 164, 164);
    text-shadow: rgb(215, 211, 199) 1px 0 10px;;
}
.tableContainer{
    width:100%;
    /* background-color:#00d800; */
    display: flex;
    justify-content: center;
}
.tablechartContainer{
    width:60%;
    /* background-color: yellow; */   
}

.buttonContainer{
    display: flex;
    justify-content: center;
}
.toggleButton{
    border:none;
}
.dateContainer{
    width: 100%;
    font-family: 'Original Surfer', cursive;
    font-size: 3em;
    display: flex;
    justify-content: center;
}
.dataContainer{
    width:100%;
    display:flex;
    justify-content: center;
    /* background-color: #c9d732; */
}
.dataDetailContainer{
    width:30%;
    /* background-color: yellow; */
}
.detailTitle{
    font-size: 2em;
    text-align: center;
    color: teal;
}
.detailContent{
    font-size: 1.5em;
    text-align: center;
}
.apexcharts-xaxistooltip{
    display:none;
}
.apexcharts-xaxis-texts-g{
    display:none;
}
.MuiToggleButtonGroup-root{
    display: flex;
    justify-content: center;
    width: 100%;
    border:none;
}
.MuiToggleButton-root{
    width: 34%;
    border:none !important;
}


@media (max-width:500px){
    .apexchartContainer{
        /* background-color:#f5f5f5; */
        width:100%;
        height:100%;
        /* display: flex;
        justify-content: center; */
    }
    .titleContainer{
        display: flex;
        justify-content: center;
        font-size: 2em;
        font-family: 'Original Surfer', cursive;
        font-style: italic;
        font-weight: bolder;
        color: rgb(191, 164, 164);
        text-shadow: rgb(215, 211, 199) 1px 0 10px;;
        margin-bottom: 2vh;
    }
    .tableContainer{
        width:100%;
        /* background-color:red; */
        display: flex;
        justify-content: center;
    }
    .tablechartContainer{
        width:90%;
        /* background-color: yellow; */
        
    }
    
    .buttonContainer{
        display: flex;
        justify-content: center;
    }
    .dateContainer{
        width: 100%;
        font-family: 'Original Surfer', cursive;
        font-size: 1.3em;
        display: flex;
        justify-content: right;
    }
    .dataContainer{
        width:100%;
        display:flex;
        justify-content: right;
        flex-wrap: wrap;
        /* background-color: red; */
    }
    .dataDetailContainer{
        width:50%;
        /* background-color: yellow; */
    }
    .detailTitle{
        font-size: 1em;
        text-align: left;
    }
    .detailContent{
        font-size: 2em;
        text-align: left;
    }
    .apexcharts-xaxistooltip{
        display:none;
    }
    .apexcharts-xaxis-texts-g{
        display:none;
    }
    .MuiToggleButtonGroup-root{
        display: flex;
        justify-content: center;
        width: 100%;
        border:none;
    }
    .MuiToggleButton-root{
        width: 34%;
        border:none !important;
    }
}